@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

.dragger-upload {
	.ant-upload-list {
		.ant-upload {
			width: 100% !important;
			// max-width: 187px !important;
			height: 187px !important;
			aspect-ratio: 1/1 !important;
			background-color: none;
		}
	}

	.ant-upload-list-item-container {
		width: 100% !important;
		max-width: 187px !important;
		height: 187px !important;
		aspect-ratio: 1/1 !important;
	}
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}
